*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5;

}
header{
    background: linear-gradient(135deg, #d31212 0 , #d38530 100%);
    color:white;
    text-align: center;
    padding: 4rem 1rem;
}
header h1{
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}
header p {
    font-size: 1.3rem;
    opacity: 2rem;
}
.container{
    max-width: 800px;
    padding: 0 1.5rem;
    margin: 2.5rem auto;
}
section{
    background-color: rgb(248, 135, 36);
    border-radius: 12px;
    padding: 2.2rem;
    margin-bottom: 2.5rem;
}
section:hover{
    transform: translatey(-6px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}
footer {
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
    background-color: #333;
    color: #f1f5f9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer a{
    font-family: "Betania Patmos GDL", cursive;
    font-weight: 400;
    font-style: normal;
}
p{
    text-align: center;
    line-height: 1.5;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: #f1f5f9;
}